@model IEnumerable<WebLongChau.Models.Customer>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "CustomerList";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer List</title>
</head>
<body>
<p>
        <a type="button" class="btn btn-success" method="post" asp-action="CustomerList">Customer List</a>
</p>
<table class="table">
    <thead>
            <tr class="table-warning">
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.FisrtName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>   
            <th>
                Action
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-success">
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FisrtName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>   
            <td>
         <a type="button" class="btn btn-danger" asp-action="DeleteCustomer" asp-route-CustomerId="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
