@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<WebLongChau.Models.Product>

@{
    ViewData["Title"] = "ListProduct";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>List Product</h1>

<p>
    <a type="button" class="btn btn-success" asp-action="AddProduct">Add new Product</a>
</p>
<p>
    @TempData["Message"]
</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                Product ID
            </th>
            <th>
               Product Name
            </th>
            <th>
               Description
            </th>
            <th>
                Price
            </th>     
            <th>
                Product Image
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model) 
            {

            <tr class="table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                 <td>
                    @if (!string.IsNullOrEmpty(item.ProductIamge))
                    {
                        <img src="@Url.Content("../ProductImage/img/" + item.ProductIamge)" alt="Image" style="margin-left:30px; max-width: 300px; max-height: 300px;" />
                    }
                    else
                    {
                        <span>No image available</span>
                    }
                </td>


               @*  <td>
                    @Html.DisplayNameFor(model => model.ProductIamge)
                </td> *@

                <td>
                     <a type="button" class="btn btn-success" asp-action="EditProduct" asp-route-ProductId="@item.ProductId">Edit</a> |
                     <a type="button" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete the product @item.ProductName?')" class="btn btn-danger" asp-action="DeleteProduct" asp-route-ProductId="@item.ProductId">Delete</a>
                    
                </td>                 
            </tr>         
        }
    </tbody>
</table>
